@media (min-width: 1200px) {
	.photos {
		width: 940px;
	}

	.span4 {
		width: 290px;
	}

}

@media (min-width: 979px) and (max-width: 1200px) {

	.row {
		margin-left: -30px;
	}

	.span4 {
		width: 290px;
	}

	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 30px;
	}
	
}

@media (max-width: 979px) OR (min-width: 1200px) {

	.photos .row {
		margin-bottom: 0;
	}

	[class*="span"] {
		margin-bottom: 30px;
	}

	.footer {
		font-size: 18px;
		letter-spacing: 2px
	}

	.footer h2 {
		font-size: 22px;
	}

	.footer span {
		display: block;
	}
	
}

@media (max-width: 979px) {

	.promo {
		bottom: -100px;
		right: 5px;
	}

	.promo img {
		width: 100px;
	}

}

@media (max-width: 979px) and (min-width: 768px) {
	.row {
		margin-left: -30px;
	}

	.span4 {
		width: 218px;
	}

	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 30px;
	}
}

@media (max-width: 768px) {

	.photos {
		width: 280px;
		margin: 0 auto;
	}

	.row {
		margin-left: -20px;
	}

	.span4 {
		width: 76px;
	}

	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 22px;
		margin-bottom: 20px;
	}

	.photos img, .photos a:hover img {
		border-width: 2px;
	}

	.footer {
		font-size: 13px;
	}

	h1, .footer h2 {
		line-height: 1.4em;
		letter-spacing: 2px;
		font-size: 16px;
	}

	.promo {
		display: none;
	}

	.promo-mobile {
		display: block;
		padding: 20px 50px 0;
		height: 200px;
		text-align: center;
	}

}
